<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
<body>
  <%- include ('./partials/nav.ejs') %>
  <form id="post-form" method='post' action="/add-cafedra">
    <div>
      <label>Название кафедры
        <input id="textNameCaf" style="width: 300px;" placeholder="Введите название кафедры..." type="text" name="title">
      </label>
    </div>
      <div>
      <label>Декан
        <input id="textDekan" style="width: 300px;" placeholder="Введите ФИО декана..." type="text" name="dekan">
      </label>
    </div>
    <div>
      <label>Направление
        <input id="textDirection" style="width: 300px;" placeholder="Введите направление кафедры..." type="textDirection" name="direction">
      </label>
    </div>
    <div class="form-text">
      <label>Описание кафедры
        <textarea id="texth" style="width: 1000px;" placeholder="Введите описание кафедры..." name="text"></textarea>
      </label>
    </div>
    <div class="form-button">
      <input type="submit" value="Подтвердить">
    </div>
  </form>
</body>
  <%- include ('./partials/form-processing.ejs') %>
</html>
