<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Создание занятия</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/createTask.css" />
    <%- include ('./partials/bootstrap.ejs') %>
    <style>
      .navbar {
        background-color: black !important;
      }
      .navButton {
        border-color: white;
      }
      .navButton {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    </style>
  </head>
  <body>
    <div class="headerContainer">
      <%- include ('./partials/navbar.ejs') %>
      <div style="padding-top: 350px;" class="container createContainer">
        <h1 style="padding-bottom: 0px;" class="text-center taskHeading mb-4">Создание занятия</h1>
        <div class="createDiv">
          <form
            
            class="taskForm"
            method="post"
            action="/create-task"
            autocomplete="off"
          >
            <div class="form-group">
              <label for="task" class="label">Название предмета</label>
              <input
                type="text"
                class="form-control inputField"
                id="task"
                name="task"
                required
                placeholder="Какое название предмета?"
              />
            </div>
            <div class="form-group">
              <label for="task" class="label">Тип занятия</label>
              <select name="typeWork" id="task" required class="form-control" style="width: 20em;">
              <option value="">Выберите тип занятия</option>
              <option value="Лекция">Лекция</option>
              <option value="Практика">Практика</option>
              <option value="Лабораторное занятие">Лабораторное занятие</option>
              <option value="Консультация">Консультация</option>
              <option value="Экзамен">Экзамен</option>
              <option value="Зачет">Зачет</option>
              <option value="Курсовой проект">Курсовой проект</option>
              <option value="Руководство практикой">Руководство практикой</option>
              <option value="Руководство ВКР">Руководство ВКР</option>
            </select>
            </div>
            <div class="form-group">
              <label for="task" class="label">Курс</label>
              <input
                type="text"
                class="form-control inputField"
                id="task"
                name="course"
                required
                placeholder="Выберите курс"
              />
            </div>
            <div class="form-group">
              <label for="task" class="label">Группа</label>
              <input
                type="text"
                class="form-control inputField"
                id="task"
                name="group"
                required
                placeholder="Какая группа?"
              />
            </div>
            <div class="form-group">
              <label for="task" class="label">Число студентов</label>
              <input
                type="text"
                class="form-control inputField"
                id="task"
                name="countStudents"
                required
                placeholder="Сколько студентов присутствовало?"
              />
            </div>
            <div class="form-group">
              <label for="task" class="label">Учебная неделя</label>
              <select name="numberWeek" id="task" required class="form-control" style="width: 20em;">
              <option value="">Выберите учебную неделю</option>
              <option value="1">Первая</option>
              <option value="2">Вторая</option>
            </select>
            </div>
            <div class="form-group">
              <label for="task" class="label">День недели</label>
              <select name="dayWeek" id="task" required class="form-control" style="width: 20em;">
              <option value="">Выберите день недели</option>
              <option value="Понедельник">Понедельник</option>
              <option value="Вторник">Вторник</option>
              <option value="Среда">Среда</option>
              <option value="Четверг">Четверг</option>
              <option value="Пятница">Пятница</option>
              <option value="Суббота">Суббота</option>
              <option value="Воскресенье">Воскресенье</option>
            </select>
            </div>
            <div class="form-group">
              <label for="date" class="label">Начало</label>
              <input
                type="datetime-local"
                class="form-control inputField"
                id="datetime"
                name="startDate"
                required
                placeholder="Task's end date"
              />
            </div>
            <div class="form-group">
              <label for="date" class="label">Когда закончилось</label>
              <input
                type="datetime-local"
                class="form-control inputField"
                id="datetime"
                name="endDate"
                required
                placeholder="Task's end date"
              />
            </div>
            <input type="submit" class="btn btn-primary mt-4" value="Создать" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
