<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Voodle</title>
    <%- include ('./partials/head.ejs') %>
    <%- include ('./partials/bootstrap.ejs') %>
  </head>
  <body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="headerContainer">
      <div class="container headerContent">
        <h1 class="heading">Voodle</h1>
        <p class="subHeading">
          Электронный журнал учет педнагрузки преподавателя
        </p>
        <a class="btn headerButton" href="/cafedras"> Изучить кафедры </a>
        <div class="typewriter">
          <p id="typed" class="typed"><span class="symbol">$</span></p>
        </div>
      </div>
    </div>
    <%- include ('./partials/footer.ejs') %>
    <script src="js/script.js"></script>
  </body>
</html>
