<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head.ejs') %>
    <title>Аутентификация</title>
    <link rel="stylesheet" href="/css/account.css" />
    <%- include ('./partials/bootstrap.ejs') %>
  </head>
  <style>
    .navbar {
      background-color: black !important;
    }
    .navButton {
      border-color: white;
    }
    .navButton {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  </style>
  <body>
    <header class="headerContainer">
      <div class="container">
        <%- include ('./partials/navbar.ejs') %>
        <div class="accountDiv col-xs-12 col-sm-12 col-lg-5 col-md-8 mx-auto">
          <div class="card accountContent">
            <div class="card-body">
              <form class="p-lg-4 p-md-4 p-xs-2" autocomplete="off">
                <p class="h4 mb-2">Аутентификация</p>
                <div class="container mx-auto">
                  <div class="row">
                    <input
                      type="email"
                      id="defaultLoginFormEmail"
                      class="form-control accountInput mt-4"
                      name="email"
                      placeholder="Email адрес"
                    />
                    <div class="email error"></div>
                    <input
                      type="password"
                      id="defaultLoginFormPassword"
                      class="form-control accountInput mt-4"
                      name="password"
                      placeholder="Пароль"
                    />
                    <div class="password error"></div>
                    <button
                      class="btn btn-primary accountButton btn-block my-4"
                      type="submit"
                    >
                      Войти
                    </button>
                  </div>
                </div>
                <div class="d-flex justify-content-around">
                  <div>
                    <a href="" class="whiteText">Forgot password?</a>
                  </div>
                </div>
                <p class="mt-2 lightText">
                  Впервые?
                  <a href="/signup" style="color: white; cursor: pointer"
                    >Зарегистрироваться.</a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <script>
      const form = document.querySelector("form");
      const emailError = document.querySelector(".email.error");
      const passwordError = document.querySelector(".password.error");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        emailError.textContent = "";
        passwordError.textContent = "";
        const email = form.email.value;
        const password = form.password.value;
        try {
          const res = await fetch("/login", {
            method: "POST",
            body: JSON.stringify({ email, password }),
            headers: { "Content-Type": "application/json" },
          });
          const data = await res.json();
          if (data.errors) {
            emailError.textContent = data.errors.email;
            passwordError.textContent = data.errors.password;
          }
          if (data.userData) {
            location.assign("/");
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
